<div class="ui segment">
    <div class="ui divided items">
        <div class="item">
            <div class="image">
                <i class="massive file icon"></i>
            </div>
            <div class="ui container" >
                <div class="ui relaxed divided items">
                    <div class="item">
                        <div class="content">
                                <strong><p>{{file.name}}</p></strong>
                            <div class="meta">
                                <a>Date</a>
                            </div>
                            <div class="description">
                               {{description}}
                            </div>
                            <div class="meta">
                                Number of words: {{numberofword}}<br>
                                Number of slides: {{numberOfSlides}}
                            </div>
                            <div class="extra">
                                <div class="ui loading right floated primary button"
                                     (click)="downloadFile()"
                                     [class.loading]="!_loading.valueOf()">
                                    Download
                                    <i class=" right floated download icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
