<div class="ui container grid " style="margin-top: 2em; margin-bottom: 25em">
    <table class="ui celled striped table">
        <thead>
        <tr>
            <th colspan="4">
                My last uploaded
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <i class="file outline icon"></i> First upload
            </td>
            <td>Description</td>
            <td class="right aligned">8 hours ago</td>
            <td class="center aligned">
                <div class="extra">
                    <div class="ui center floated primary button"
                         (click)="downloadFile()">
                        Download
                        <i class=" center floated download icon"></i>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <i class="file outline icon"></i> Second Upload
            </td>
            <td>Initial commit</td>
            <td class="right aligned">12 hours ago</td>
            <td class="center aligned">
                <div class="extra">
                    <div class="ui center floated primary button"
                         (click)="downloadFile()">
                        Download
                        <i class=" center floated download icon"></i>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
