<div>
    <div class="ui stackable sixteen column grid fill-parents">
        <div class=" eight wide column  gradient ">
            <!--<img class="ui medium centered image position-image-graduate" src="/assets/images/graduate.svg" >-->
            <img class="ui medium centered image position-image-graduate"
                 src="/assets/icons/ic_filter_drama_black_24px.svg">
        </div>
        <div class="eight wide column gradient">

            <div class="vertical-center" style="padding: 1em" >

            <div class="ui centered">
                <h1 class="ui header"> AutoSum Project</h1>
                <div class="ui text" style="font-size: larger">
                    Summarized your lecture slides
                    <br>
                </div>
                <button class="ui large primary button" routerLink="/post-form" style="margin-top: 1em">
                    GET STARTED
                </button>
            </div>
            </div>
        </div>

        <div class=" eight wide column " style="background-color: white">
            <img class="ui small centered image item " src="/assets/images/learning.svg">
        </div>
        <div class=" eight wide column " style="background-color: white">
            <div class="position-text">
                <h2 class="ui header"> Summarized your Material <br></h2>
                <div class="ui text">
                    AutoSum summarize your material and make smaller but more digest to study
                </div>

            </div>
        </div>

        <div class=" eight wide column " >
            <img class="ui small centered image item " src="/assets/images/clock.svg">
        </div>
        <div class="eight wide column " >
            <div class="position-text">
                <h2 class="ui header"> Save your time </h2>
                <div class="ui text">
                    This online tool is aimed to sum up your Material slide into digest file. AutoSum reduce the number
                    of slide by 2
                </div>

            </div>
        </div>

        <div class=" eight wide column " style="background-color: white">
            <img class="ui small centered image item " src="/assets/images/test.svg">
        </div>
        <div class="eight wide column "style="background-color: white" >
            <div class="position-text">
                <h2 class="ui header"> Enhance your learning </h2>
                <div class="ui text">
                    AutoSum select which slide are the most important for you thant to text analyse image analyses
                </div>

            </div>
        </div>

    </div>
</div>


