@import "../app.component";

#gradient {
  height: 16em;
  background: whitesmoke; /* For browsers that do not support gcradients */
  background: -webkit-linear-gradient(gainsboro , whitesmoke); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(gainsboro , whitesmoke); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(gainsboro , whitesmoke); /* For Firefox 3.6 to 15 */
  background: linear-gradient(gainsboro , whitesmoke); /* Standard syntax (must be last) */
  position: relative;
}

#position-menu-content {
  height: 0.2em;

}

#position-text {
  margin-top: 3.5em;

}

.fill-parents{
  height: inherit;
  width: inherit;
}

.fill-borders{
  height: 100%;
  width: 100%;
}

#position-image-graduate{
  padding: 4em;
}

.get-started{
  color: $primary-color;
}
.center-table {
  display: table;
}
//.center-table h2, p{
//  display: table-cell;
//  vertical-align: middle;
//}

.header{
  font-size: xx-large;
  font-weight: bold;
  line-height: 2em;
}

.container2{
  height: 18em;
  background-color: white;
}
