<div id="gradient">
    <div class="ui stackable sixteen column grid fill-parents" >

        <div class=" eight wide column ">
            <img class="ui medium centered image" src="/assets/images/graduate.png" id="position-image-graduate">
        </div>
        <div class="eight wide column">

            <div class="fill-borders " id="position-text">
                <p>
                    <span class="header"> AutoSum Project <br></span>
                    Summarized your lecture slides
                    <br>
                </p>
                <button class="ui primary button"  routerLink="/post-form">
                    GET STARTED
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container2"></div>

